.welcome {
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-align: center;
}

.logo-posts {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.options-sort {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 140px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 10px;
}

.options-sort input {
  margin: 20px 0;
  background: none;
  border: none;
  color: #4e54c8;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 150px;
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.sort-posts {
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0px 20px;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  background: #151631;
  cursor: pointer;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
  align-items: center;
  margin-top: 40px;
  width: 75%;
}

.main-post {
  background-color: white;
  color: #8f94fb;
  padding: 30px 60px 0 60px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
  width: 100%;
  box-sizing: border-box;
}

.post-title {
  font-size: 1.2rem;
  color: #151631;
  margin-bottom: 30px;
}

.post-body {
  font-size: 1rem;
  margin-bottom: 75px;
}

.post-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.post-stats {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.view-comments span {
  text-decoration: underline;
  cursor: pointer;
}

.comments {
  display: none;
}

.post-buttons {
  display: flex;
}

.post-buttons i,
.posts-stats {
  font-size: 1.3rem;
  margin: 0 10px;
  width: 45px;
  height: 45px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#like {
  background-color: rgb(144, 255, 144);
  color: rgb(255, 51, 85);
  margin-left: 0;
}

#relate {
  background-color: rgb(98, 224, 255);
  color: rgb(243, 255, 81);
}

#downvote {
  background-color: rgb(255, 62, 62);
  color: rgb(255, 255, 255);
}

.like-stat {
  background-color: rgb(144, 255, 144);
  color: rgb(255, 51, 85);
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 1000px;
  margin: 0 15px;
}

.relate-stat {
  background-color: rgb(98, 224, 255);
  color: rgb(243, 255, 81);
  padding: 10px 30px;
  box-sizing: border-box;
  margin: 0 15px;
  border-radius: 1000px;
}

.downvote-stat {
  background-color: rgb(255, 62, 62);
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 1000px;
  margin-left: 15px;
}

.new-post {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

#new-post {
  width: 80%;
  height: 120px;
  resize: none;
  font-size: 1.1rem;
  padding: 20px 20px 0 20px;
  outline: none;
  font-family: "Roboto Mono", monospace;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
}

#submit-post-btn {
  width: 14.5%;
  height: 140px;
  border: none;
  outline: none;
  background-color: #151631;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  font-family: "Roboto Mono", monospace;
  border-radius: 10px;
}

.bottom-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.post-input-title {
  width: 100%;
  height: 70px;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: "Roboto Mono", monospace;
  outline: none;
  -webkit-box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.35);
}

.no-posts {
  margin-top: 75px;
}

/** mobile devices **/
@media only screen and (max-width: 768px) {
  .welcome {
    font-size: 0.8rem;
  }

  .bottom-post {
    flex-direction: column;
  }

  .main-post {
    width: 100%;
  }

  .no-posts {
    margin-top: 75px;
    width: 80%;
    text-align: center;
  }

  #new-post {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.1rem;
  }

  .new-post {
    width: 85%;
  }

  #submit-post-btn {
    width: 100%;
    height: 75px;
    font-size: 1rem;
    margin-top: 15px;
    box-sizing: border-box;
  }

  .post-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .post-stats {
    flex-direction: column;
    white-space: nowrap;
    margin-bottom: 40px;
  }

  .post-buttons {
    margin-bottom: 30px;
  }

  .post-buttons i {
    margin: 0 20px;
  }

  #like {
    margin-left: 20px;
  }

  .like-stat {
    margin-bottom: 20px;
  }

  .relate-stat {
    margin-bottom: 20px;
  }

  .posts-container {
    width: 85%;
  }

  .downvote-stat {
    margin-left: 0;
  }

  .post-body {
    max-width: 100%;
    text-align: center;
    word-break: break-all;
    margin-bottom: 40px;
  }
}

/** tablets **/
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .downvote-stat {
    margin-right: 15px;
  }

  .welcome {
    font-size: 1rem;
  }

  .bottom-post {
    flex-direction: column;
  }

  .main-post {
    width: 100%;
  }

  #new-post {
    box-sizing: border-box;
    width: 100%;
  }

  .new-post {
    width: 85%;
  }

  #submit-post-btn {
    width: 100%;
    height: 75px;
    font-size: 1rem;
    margin-top: 15px;
    box-sizing: border-box;
  }

  .post-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .post-stats {
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .post-buttons {
    margin-bottom: 50px;
  }

  .post-buttons i {
    margin: 0 20px;
  }

  #like {
    margin-left: 20px;
  }

  .like-stat {
    margin-bottom: 0;
  }

  .relate-stat {
    margin-bottom: 0;
  }

  .posts-container {
    max-width: 100%;
    width: 85%;
  }
}
